In [84]:
import pandas as pd
final=pd.DataFrame()
url = 'https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;spanmax1=31+Dec+2020;spanmin1=01+Jan+1965;spanval1=span;template=results;type=aggregate;view=results'

df_list1 = pd.read_html(url)

for i in range(2,25):
    url2='https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;page={};spanmax1=31+Dec+2020;spanmin1=01+Jan+1965;spanval1=span;template=results;type=aggregate;view=results'
    url1=url2.format(i)
    df_list = pd.read_html(url1)
    df=df_list[2]
    final=final.append(df)
final_df = df_list1[2]
data = final_df.append(final)
data = data.reset_index()
data = data.drop(['index','BR','Unnamed: 4','Unnamed: 8'],axis=1)

In [85]:
data=data[data['Winner'].notna()]

In [86]:
data[['First Team','Second Team']]=data['Match'].str.split(' v ',1,expand=True)
data=data.drop(['Match'],axis=1)
data

,Winner,Result,Margin,Ground,Start Date,First Team,Second Team
0,Australia,won,44 runs,Auckland,17 Feb 2005,New Zealand,Australia
1,England,won,100 runs,Southampton,13 Jun 2005,England,Australia
2,New Zealand,won,5 wickets,Johannesburg,21 Oct 2005,South Africa,New Zealand
3,Australia,won,95 runs,Brisbane,9 Jan 2006,Australia,South Africa
5,South Africa,won,2 runs,Johannesburg,24 Feb 2006,South Africa,Australia
6,Sri Lanka,won,2 runs,Southampton,15 Jun 2006,England,Sri Lanka
7,Pakistan,won,5 wickets,Bristol,28 Aug 2006,England,Pakistan
8,Bangladesh,won,43 runs,Khulna,28 Nov 2006,Bangladesh,Zimbabwe
9,India,won,6 wickets,Johannesburg,1 Dec 2006,South Africa,India
10,Sri Lanka,won,18 runs,Wellington,22 Dec 2006,New Zealand,Sri Lanka
11,New Zealand,won,5 wickets,Auckland,26 Dec 2006,New Zealand,Sri Lanka
12,Australia,won,77 runs,Sydney,9 Jan 2007,Australia,England
13,South Africa,won,10 wickets,Johannesburg,2 Feb 2007,South Africa,Pakistan
14,West Indies,won,15 runs,The Oval,28 Jun 2007,England,West Indies
15,England,won,5 wickets,The Oval,29 Jun 2007,England,West Indies
16,Bangladesh,won,5 wickets,Nairobi (Gym),1 Sep 2007,Kenya,Bangladesh
17,Pakistan,won,30 runs,Nairobi (Gym),2 Sep 2007,Bangladesh,Pakistan
18,Pakistan,won,8 wickets,Nairobi (Gym),4 Sep 2007,Kenya,Pakistan
19,South Africa,won,8 wickets,Johannesburg,11 Sep 2007,South Africa,West Indies
20,New Zealand,won,9 wickets,Durban,12 Sep 2007,Kenya,New Zealand
21,Pakistan,won,51 runs,Durban,12 Sep 2007,Pakistan,Scotland
22,Zimbabwe,won,5 wickets,Cape Town,12 Sep 2007,Australia,Zimbabwe
23,Bangladesh,won,6 wickets,Johannesburg,13 Sep 2007,Bangladesh,West Indies
24,England,won,50 runs,Cape Town,13 Sep 2007,England,Zimbabwe
26,Sri Lanka,won,172 runs,Johannesburg,14 Sep 2007,Kenya,Sri Lanka
27,Australia,won,8 wickets,Cape Town,14 Sep 2007,Australia,England
29,Sri Lanka,won,7 wickets,Johannesburg,15 Sep 2007,New Zealand,Sri Lanka
30,South Africa,won,7 wickets,Cape Town,15 Sep 2007,South Africa,Bangladesh
31,New Zealand,won,10 runs,Johannesburg,16 Sep 2007,India,New Zealand
32,Australia,won,9 wickets,Cape Town,16 Sep 2007,Australia,Bangladesh
...,...,...,...,...,...,...,...
1142,Czech Rep.,won,5 wickets,Walferdange,29 Aug 2020,Luxembourg,Czech Rep.
1143,Belgium,won,37 runs,Walferdange,29 Aug 2020,Luxembourg,Belgium
1144,Belgium,won,46 runs,Walferdange,29 Aug 2020,Belgium,Czech Rep.
1145,Belgium,won,87 runs,Walferdange,30 Aug 2020,Belgium,Czech Rep.
1146,Belgium,won,49 runs,Walferdange,30 Aug 2020,Luxembourg,Belgium
1147,England,won,5 wickets,Manchester,30 Aug 2020,England,Pakistan
1148,Pakistan,won,5 runs,Manchester,1 Sep 2020,England,Pakistan
1149,England,won,2 runs,Southampton,4 Sep 2020,England,Australia
1150,England,won,6 wickets,Southampton,6 Sep 2020,England,Australia
1151,Australia,won,5 wickets,Southampton,8 Sep 2020,England,Australia
1152,Malta,won,57 runs,Sofia,23 Sep 2020,Bulgaria,Malta
1153,Malta,won,8 wickets,Sofia,23 Sep 2020,Bulgaria,Malta
1156,Bulgaria,won,33 runs,Ilfov County,16 Oct 2020,Romania,Bulgaria
1157,Romania,won,52 runs,Ilfov County,17 Oct 2020,Romania,Bulgaria
1158,Romania,won,34 runs,Ilfov County,17 Oct 2020,Romania,Bulgaria
1159,Romania,won,6 wickets,Ilfov County,18 Oct 2020,Romania,Bulgaria
1160,Pakistan,won,6 wickets,Rawalpindi,7 Nov 2020,Pakistan,Zimbabwe
1161,Pakistan,won,8 wickets,Rawalpindi,8 Nov 2020,Pakistan,Zimbabwe
1162,Pakistan,won,8 wickets,Rawalpindi,10 Nov 2020,Pakistan,Zimbabwe
1163,New Zealand,won,5 wickets,Auckland,27 Nov 2020,New Zealand,West Indies
1164,England,won,5 wickets,Cape Town,27 Nov 2020,South Africa,England
1165,New Zealand,won,72 runs,Mount Maunganui,29 Nov 2020,New Zealand,West Indies
1166,England,won,4 wickets,Paarl,29 Nov 2020,South Africa,England
1168,England,won,9 wickets,Cape Town,1 Dec 2020,South Africa,England
1169,India,won,11 runs,Canberra,4 Dec 2020,Australia,India
1170,India,won,6 wickets,Sydney,6 Dec 2020,Australia,India
1171,Australia,won,12 runs,Sydney,8 Dec 2020,Australia,India
1172,New Zealand,won,5 wickets,Auckland,18 Dec 2020,New Zealand,Pakistan
1173,New Zealand,won,9 wickets,Hamilton,20 Dec 2020,New Zealand,Pakistan
1174,Pakistan,won,4 wickets,Napier,22 Dec 2020,New Zealand,Pakistan

In [4]:
import pandas as pd

fixture = pd.read_excel("C:/Users/A K Singh/Desktop/Crickathon phase 1 teams.xlsx")
fixture=fixture.drop(['Winner','Probability of Winning','Group','Round'],axis=1)

In [5]:
ls= pd.unique(fixture['First Team'])
ls1=pd.unique(fixture['Second Team'])
teams = list(set().union(ls,ls1))
teams

['Bangladesh',
 'Sri Lanka',
 'Papua New Guinea',
 'Namibia',
 'Scotland',
 'Netherlands',
 'Ireland',
 'Oman']

In [6]:
df_teams = data[data['First Team'].isin(teams) & data['Second Team'].isin(teams)]
#df_teams_2 = data[data['Second Team'].isin(teams)]
#df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams

,Winner,Result,Margin,Ground,Start Date,First Team,Second Team
37,Sri Lanka,won,64 runs,Johannesburg,18 Sep 2007,Bangladesh,Sri Lanka
58,Ireland,won,4 wickets,Belfast,2 Aug 2008,Ireland,Scotland
64,Netherlands,won,5 wickets,Belfast,4 Aug 2008,Netherlands,Scotland
96,Ireland,won,6 wickets,Nottingham,8 Jun 2009,Bangladesh,Ireland
108,Sri Lanka,won,9 runs,Lord's,14 Jun 2009,Ireland,Sri Lanka
141,Ireland,won,37 runs,Dubai (DSC),11 Feb 2010,Ireland,Scotland
143,Ireland,won,65 runs,Dubai (DSC),13 Feb 2010,Ireland,Netherlands
236,Ireland,won,17 runs,Dubai (DSC),18 Mar 2012,Ireland,Scotland
238,Netherlands,won,3 wickets,ICCA Dubai,22 Mar 2012,Netherlands,Scotland
239,Ireland,won,7 wickets,Dubai (DSC),23 Mar 2012,Ireland,Netherlands
250,Bangladesh,won,71 runs,Belfast,18 Jul 2012,Ireland,Bangladesh
251,Bangladesh,won,1 runs,Belfast,20 Jul 2012,Ireland,Bangladesh
252,Bangladesh,won,2 wickets,Belfast,21 Jul 2012,Ireland,Bangladesh
253,Scotland,won,34 runs,The Hague,24 Jul 2012,Bangladesh,Scotland
254,Bangladesh,won,8 wickets,The Hague,25 Jul 2012,Netherlands,Bangladesh
255,Netherlands,won,1 wickets,The Hague,26 Jul 2012,Netherlands,Bangladesh
315,Sri Lanka,won,17 runs,Pallekele,31 Mar 2013,Sri Lanka,Bangladesh
346,Scotland,won,15 runs,ICCA Dubai,22 Nov 2013,Netherlands,Scotland
351,Netherlands,won,8 wickets,Abu Dhabi,28 Nov 2013,Netherlands,Scotland
361,Sri Lanka,won,2 runs,Chattogram,12 Feb 2014,Bangladesh,Sri Lanka
362,Sri Lanka,won,3 wickets,Chattogram,14 Feb 2014,Bangladesh,Sri Lanka
382,Netherlands,won,6 wickets,Sylhet,21 Mar 2014,Ireland,Netherlands
389,Sri Lanka,won,9 wickets,Chattogram,24 Mar 2014,Netherlands,Sri Lanka
428,Scotland,won,6 wickets,Bready,18 Jun 2015,Ireland,Scotland
430,Scotland,won,6 wickets,Bready,20 Jun 2015,Ireland,Scotland
442,Netherlands,won,32 runs,Edinburgh,11 Jul 2015,Scotland,Netherlands
457,Netherlands,won,5 wickets,Dublin (Malahide),25 Jul 2015,Ireland,Netherlands
505,Scotland,won,37 runs,ICCA Dubai,5 Feb 2016,Netherlands,Scotland
526,Bangladesh,won,23 runs,Dhaka,28 Feb 2016,Bangladesh,Sri Lanka
537,Bangladesh,won,8 runs,Dharamsala,9 Mar 2016,Bangladesh,Netherlands
...,...,...,...,...,...,...,...
666,Sri Lanka,won,75 runs,Sylhet,18 Feb 2018,Bangladesh,Sri Lanka
673,Bangladesh,won,5 wickets,Colombo (RPS),10 Mar 2018,Sri Lanka,Bangladesh
676,Bangladesh,won,2 wickets,Colombo (RPS),16 Mar 2018,Sri Lanka,Bangladesh
685,Netherlands,won,4 runs,Rotterdam,12 Jun 2018,Netherlands,Ireland
687,Netherlands,won,4 wickets,Rotterdam,13 Jun 2018,Netherlands,Ireland
689,Ireland,won,46 runs,Deventer,16 Jun 2018,Ireland,Scotland
691,Scotland,won,7 wickets,Amstelveen,19 Jun 2018,Netherlands,Scotland
692,Scotland,won,115 runs,Amstelveen,20 Jun 2018,Netherlands,Scotland
756,Netherlands,won,7 wickets,Al Amerat,13 Feb 2019,Netherlands,Scotland
757,Ireland,won,15 runs,Al Amerat,13 Feb 2019,Oman,Ireland
758,Netherlands,won,8 wickets,Al Amerat,15 Feb 2019,Oman,Netherlands
759,Scotland,won,6 wickets,Al Amerat,15 Feb 2019,Ireland,Scotland
760,Ireland,won,1 wickets,Al Amerat,17 Feb 2019,Ireland,Netherlands
761,Scotland,won,7 wickets,Al Amerat,17 Feb 2019,Oman,Scotland
911,Scotland,won,58 runs,Dublin (Malahide),16 Sep 2019,Netherlands,Scotland
912,Ireland,won,4 wickets,Dublin (Malahide),17 Sep 2019,Ireland,Scotland
914,Netherlands,won,6 wickets,Dublin (Malahide),18 Sep 2019,Ireland,Netherlands
916,Scotland,won,6 wickets,Dublin (Malahide),19 Sep 2019,Netherlands,Scotland
918,Ireland,won,1 runs,Dublin (Malahide),20 Sep 2019,Ireland,Scotland
940,Ireland,won,6 wickets,Al Amerat,5 Oct 2019,Ireland,Netherlands
946,Oman,won,43 runs,Al Amerat,6 Oct 2019,Oman,Ireland
953,Oman,won,7 wickets,Al Amerat,9 Oct 2019,Oman,Netherlands
971,Netherlands,won,44 runs,ICCA Dubai,19 Oct 2019,Namibia,Netherlands
981,Ireland,won,35 runs,Tolerance Oval,21 Oct 2019,Ireland,Oman
984,Namibia,won,24 runs,ICCA Dubai,22 Oct 2019,Namibia,Scotland
1012,Netherlands,won,4 wickets,Dubai (DSC),27 Oct 2019,Netherlands,Scotland
1016,Namibia,won,54 runs,Dubai (DSC),29 Oct 2019,Namibia,Oman
1020,Scotland,won,5 wickets,ICCA Dubai,31 Oct 2019,Oman,Scotland
1023,Netherlands,won,21 runs,Dubai (DSC),1 Nov 2019,Ireland,Netherlands
1025,Ireland,won,27 runs,Dubai (DSC),2 Nov 2019,Ireland,Namibia

In [7]:

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/t20i'
df_ls= pd.read_html(url)
icc_ranking=df_ls[0]

In [8]:
icc_ranking[['First','Second']]=icc_ranking['Team  T'].str.split(' ',1,expand=True)
icc_ranking[['2nd','3rd']]=icc_ranking['Second'].str.split(' ',1,expand=True)

icc_ranking['Team']=icc_ranking['First']+' '+icc_ranking['2nd']
icc_ranking=icc_ranking.drop(['Team  T','First','Second','2nd','3rd'],axis=1)
icc_ranking['Team']=icc_ranking['Team'].str.strip()

icc_ranking['Team'] = icc_ranking['Team'].str.replace('Papua New','Papua New Guinea')
icc_ranking

    Pos  Matches  M  Points  P  Rating  R              Team
0     1          28       7786        278           England
1     2          28       7456        266             India
2     3          34       8883        261          Pakistan
3     4          28       7192        257       New Zealand
4     5          30       7489        250      South Africa
5     6          26       6259        241        Bangladesh
6     7          33       7923        240         Australia
7     8          12       2826        236       Afghanistan
8     9          29       6792        234       West Indies
9    10          22       5048        229         Sri Lanka
10   11          30       5751        192          Zimbabwe
11   12          26       4930        190           Ireland
12   13          19       3556        187             Nepal
13   14          14       2553        182          Scotland
14   15          14       2501        179  Papua New Guinea
15   16          12       2130        178               UAE
16   17          20       3504        175       Netherlands
17   18          10       1732        173              Oman
18   19          15       2438        163           Namibia
19   20          12       1678        140         Singapore
20   21          11       1422        129             Qatar
21   22          10       1263        126            Canada
22   23          13       1572        121         Hong Kong
23   24          13       1481        114            Jersey
24   25           8        894        112             Kenya
25   26           6        663        111             Italy
26   27           8        866        108            Kuwait
27   28           4        428        107      Saudi Arabia
28   29           6        568         95           Bermuda
29   30           9        849         94           Denmark
..  ...         ...        ...        ...               ...
56   57           9        313         35           Finland
57   58           9        312         35            Malawi
58   59           5        162         32            Panama
59   60           5        159         32             Samoa
60   61           5        159         32           Hungary
61   62           4        126         32             Japan
62   63           4        126         32        Costa Rica
63   64           7        209         30             Ghana
64   65           7        175         25          Thailand
65   66          20        436         22             Malta
66   67          19        396         21    Czech Republic
67   68           4         78         20       South Korea
68   69           9        175         19        Mozambique
69   70           4         77         19           Isle of
70   71           5         94         19            Greece
71   72          16        233         15          Bulgaria
72   73           4         47         12            Bhutan
73   74           7         65          9          Maldives
74   75           6         55          9      Saint Helena
75   76           8         70          9            Rwanda
76   77           5         39          8            Brazil
77   78           5         19          4             Chile
78   79           3          1          0           Myanmar
79   80           3          0          0         Indonesia
80   81           3          0          0           Lesotho
81   82           3          0          0          Eswatini
82   83           3          0          0            Turkey
83   84           4          0          0             China
84   85           5          0          0            Serbia
85   86           9          0          0         Gibraltar

[86 rows x 5 columns]

In [9]:
df_teams.insert(1, 'first_position', df_teams['First Team'].map(icc_ranking.set_index('Team')['Pos']))
df_teams.insert(2, 'second_position', df_teams['Second Team'].map(icc_ranking.set_index('Team')['Pos']))

In [10]:
df_teams

,Winner,first_position,second_position,Result,Margin,Ground,Start Date,First Team,Second Team
37,Sri Lanka,6,10,won,64 runs,Johannesburg,18 Sep 2007,Bangladesh,Sri Lanka
58,Ireland,12,14,won,4 wickets,Belfast,2 Aug 2008,Ireland,Scotland
64,Netherlands,17,14,won,5 wickets,Belfast,4 Aug 2008,Netherlands,Scotland
96,Ireland,6,12,won,6 wickets,Nottingham,8 Jun 2009,Bangladesh,Ireland
108,Sri Lanka,12,10,won,9 runs,Lord's,14 Jun 2009,Ireland,Sri Lanka
141,Ireland,12,14,won,37 runs,Dubai (DSC),11 Feb 2010,Ireland,Scotland
143,Ireland,12,17,won,65 runs,Dubai (DSC),13 Feb 2010,Ireland,Netherlands
236,Ireland,12,14,won,17 runs,Dubai (DSC),18 Mar 2012,Ireland,Scotland
238,Netherlands,17,14,won,3 wickets,ICCA Dubai,22 Mar 2012,Netherlands,Scotland
239,Ireland,12,17,won,7 wickets,Dubai (DSC),23 Mar 2012,Ireland,Netherlands
250,Bangladesh,12,6,won,71 runs,Belfast,18 Jul 2012,Ireland,Bangladesh
251,Bangladesh,12,6,won,1 runs,Belfast,20 Jul 2012,Ireland,Bangladesh
252,Bangladesh,12,6,won,2 wickets,Belfast,21 Jul 2012,Ireland,Bangladesh
253,Scotland,6,14,won,34 runs,The Hague,24 Jul 2012,Bangladesh,Scotland
254,Bangladesh,17,6,won,8 wickets,The Hague,25 Jul 2012,Netherlands,Bangladesh
255,Netherlands,17,6,won,1 wickets,The Hague,26 Jul 2012,Netherlands,Bangladesh
315,Sri Lanka,10,6,won,17 runs,Pallekele,31 Mar 2013,Sri Lanka,Bangladesh
346,Scotland,17,14,won,15 runs,ICCA Dubai,22 Nov 2013,Netherlands,Scotland
351,Netherlands,17,14,won,8 wickets,Abu Dhabi,28 Nov 2013,Netherlands,Scotland
361,Sri Lanka,6,10,won,2 runs,Chattogram,12 Feb 2014,Bangladesh,Sri Lanka
362,Sri Lanka,6,10,won,3 wickets,Chattogram,14 Feb 2014,Bangladesh,Sri Lanka
382,Netherlands,12,17,won,6 wickets,Sylhet,21 Mar 2014,Ireland,Netherlands
389,Sri Lanka,17,10,won,9 wickets,Chattogram,24 Mar 2014,Netherlands,Sri Lanka
428,Scotland,12,14,won,6 wickets,Bready,18 Jun 2015,Ireland,Scotland
430,Scotland,12,14,won,6 wickets,Bready,20 Jun 2015,Ireland,Scotland
442,Netherlands,14,17,won,32 runs,Edinburgh,11 Jul 2015,Scotland,Netherlands
457,Netherlands,12,17,won,5 wickets,Dublin (Malahide),25 Jul 2015,Ireland,Netherlands
505,Scotland,17,14,won,37 runs,ICCA Dubai,5 Feb 2016,Netherlands,Scotland
526,Bangladesh,6,10,won,23 runs,Dhaka,28 Feb 2016,Bangladesh,Sri Lanka
537,Bangladesh,6,17,won,8 runs,Dharamsala,9 Mar 2016,Bangladesh,Netherlands
...,...,...,...,...,...,...,...,...,...
666,Sri Lanka,6,10,won,75 runs,Sylhet,18 Feb 2018,Bangladesh,Sri Lanka
673,Bangladesh,10,6,won,5 wickets,Colombo (RPS),10 Mar 2018,Sri Lanka,Bangladesh
676,Bangladesh,10,6,won,2 wickets,Colombo (RPS),16 Mar 2018,Sri Lanka,Bangladesh
685,Netherlands,17,12,won,4 runs,Rotterdam,12 Jun 2018,Netherlands,Ireland
687,Netherlands,17,12,won,4 wickets,Rotterdam,13 Jun 2018,Netherlands,Ireland
689,Ireland,12,14,won,46 runs,Deventer,16 Jun 2018,Ireland,Scotland
691,Scotland,17,14,won,7 wickets,Amstelveen,19 Jun 2018,Netherlands,Scotland
692,Scotland,17,14,won,115 runs,Amstelveen,20 Jun 2018,Netherlands,Scotland
756,Netherlands,17,14,won,7 wickets,Al Amerat,13 Feb 2019,Netherlands,Scotland
757,Ireland,18,12,won,15 runs,Al Amerat,13 Feb 2019,Oman,Ireland
758,Netherlands,18,17,won,8 wickets,Al Amerat,15 Feb 2019,Oman,Netherlands
759,Scotland,12,14,won,6 wickets,Al Amerat,15 Feb 2019,Ireland,Scotland
760,Ireland,12,17,won,1 wickets,Al Amerat,17 Feb 2019,Ireland,Netherlands
761,Scotland,18,14,won,7 wickets,Al Amerat,17 Feb 2019,Oman,Scotland
911,Scotland,17,14,won,58 runs,Dublin (Malahide),16 Sep 2019,Netherlands,Scotland
912,Ireland,12,14,won,4 wickets,Dublin (Malahide),17 Sep 2019,Ireland,Scotland
914,Netherlands,12,17,won,6 wickets,Dublin (Malahide),18 Sep 2019,Ireland,Netherlands
916,Scotland,17,14,won,6 wickets,Dublin (Malahide),19 Sep 2019,Netherlands,Scotland
918,Ireland,12,14,won,1 runs,Dublin (Malahide),20 Sep 2019,Ireland,Scotland
940,Ireland,12,17,won,6 wickets,Al Amerat,5 Oct 2019,Ireland,Netherlands
946,Oman,18,12,won,43 runs,Al Amerat,6 Oct 2019,Oman,Ireland
953,Oman,18,17,won,7 wickets,Al Amerat,9 Oct 2019,Oman,Netherlands
971,Netherlands,19,17,won,44 runs,ICCA Dubai,19 Oct 2019,Namibia,Netherlands
981,Ireland,12,18,won,35 runs,Tolerance Oval,21 Oct 2019,Ireland,Oman
984,Namibia,19,14,won,24 runs,ICCA Dubai,22 Oct 2019,Namibia,Scotland
1012,Netherlands,17,14,won,4 wickets,Dubai (DSC),27 Oct 2019,Netherlands,Scotland
1016,Namibia,19,18,won,54 runs,Dubai (DSC),29 Oct 2019,Namibia,Oman
1020,Scotland,18,14,won,5 wickets,ICCA Dubai,31 Oct 2019,Oman,Scotland
1023,Netherlands,12,17,won,21 runs,Dubai (DSC),1 Nov 2019,Ireland,Netherlands
1025,Ireland,12,19,won,27 runs,Dubai (DSC),2 Nov 2019,Ireland,Namibia

In [11]:
df_teams=df_teams.drop_duplicates()

In [12]:
df_teams=df_teams[['First Team', 'Second Team','Winner','first_position', 'second_position']]
df_teams

       First Team  Second Team       Winner  first_position  second_position
37     Bangladesh    Sri Lanka    Sri Lanka               6               10
58        Ireland     Scotland      Ireland              12               14
64    Netherlands     Scotland  Netherlands              17               14
96     Bangladesh      Ireland      Ireland               6               12
108       Ireland    Sri Lanka    Sri Lanka              12               10
141       Ireland     Scotland      Ireland              12               14
143       Ireland  Netherlands      Ireland              12               17
236       Ireland     Scotland      Ireland              12               14
238   Netherlands     Scotland  Netherlands              17               14
239       Ireland  Netherlands      Ireland              12               17
250       Ireland   Bangladesh   Bangladesh              12                6
251       Ireland   Bangladesh   Bangladesh              12                6
252       Ireland   Bangladesh   Bangladesh              12                6
253    Bangladesh     Scotland     Scotland               6               14
254   Netherlands   Bangladesh   Bangladesh              17                6
255   Netherlands   Bangladesh  Netherlands              17                6
315     Sri Lanka   Bangladesh    Sri Lanka              10                6
346   Netherlands     Scotland     Scotland              17               14
351   Netherlands     Scotland  Netherlands              17               14
361    Bangladesh    Sri Lanka    Sri Lanka               6               10
362    Bangladesh    Sri Lanka    Sri Lanka               6               10
382       Ireland  Netherlands  Netherlands              12               17
389   Netherlands    Sri Lanka    Sri Lanka              17               10
428       Ireland     Scotland     Scotland              12               14
430       Ireland     Scotland     Scotland              12               14
442      Scotland  Netherlands  Netherlands              14               17
457       Ireland  Netherlands  Netherlands              12               17
505   Netherlands     Scotland     Scotland              17               14
526    Bangladesh    Sri Lanka   Bangladesh               6               10
537    Bangladesh  Netherlands   Bangladesh               6               17
...           ...          ...          ...             ...              ...
666    Bangladesh    Sri Lanka    Sri Lanka               6               10
673     Sri Lanka   Bangladesh   Bangladesh              10                6
676     Sri Lanka   Bangladesh   Bangladesh              10                6
685   Netherlands      Ireland  Netherlands              17               12
687   Netherlands      Ireland  Netherlands              17               12
689       Ireland     Scotland      Ireland              12               14
691   Netherlands     Scotland     Scotland              17               14
692   Netherlands     Scotland     Scotland              17               14
756   Netherlands     Scotland  Netherlands              17               14
757          Oman      Ireland      Ireland              18               12
758          Oman  Netherlands  Netherlands              18               17
759       Ireland     Scotland     Scotland              12               14
760       Ireland  Netherlands      Ireland              12               17
761          Oman     Scotland     Scotland              18               14
911   Netherlands     Scotland     Scotland              17               14
912       Ireland     Scotland      Ireland              12               14
914       Ireland  Netherlands  Netherlands              12               17
916   Netherlands     Scotland     Scotland              17               14
918       Ireland     Scotland      Ireland              12               14
940       Ireland  Netherlands      Ireland              12               17
946          Oman      Ireland         Oman              18               12
953          Oman  Netherlands         Oman              18               17
971       Namibia  Netherlands  Netherlands              19               17
981       Ireland         Oman      Ireland              12               18
984       Namibia     Scotland      Namibia              19               14
1012  Netherlands     Scotland  Netherlands              17               14
1016      Namibia         Oman      Namibia              19               18
1020         Oman     Scotland     Scotland              18               14
1023      Ireland  Netherlands  Netherlands              12               17
1025      Ireland      Namibia      Ireland              12               19

[70 rows x 5 columns]

# Testing for 2016 data

In [104]:
import pandas as pd
url = 'https://stats.espncricinfo.com/ci/engine/stats/index.html?class=3;spanmax2=13+mar+2016;spanmin2=07+mar+2016;spanval2=span;template=results;type=aggregate;view=results'
data1=data
data1=data1[~data1['Start Date'].str.contains("Mar 2016")]
data1
df_list1 = pd.read_html(url)
fixture=df_list1[2]
fixture[['First Team','Second Team']]=fixture['Match'].str.split(' v ',1,expand=True)
fixture=fixture.drop(['Match'],axis=1)
#fixture=fixture.dropna()
fixture=fixture.reset_index()
fixture = fixture.drop(['index','BR','Unnamed: 4','Unnamed: 8','Result','Margin','Start Date','Ground'],axis=1)

ls= pd.unique(fixture['First Team'])
ls1=pd.unique(fixture['Second Team'])
teams = list(set().union(ls,ls1))
df_teams = data1[data1['First Team'].isin(teams) & data1['Second Team'].isin(teams)]
#df_teams_2 = data[data['Second Team'].isin(teams)]
#df_teams = pd.concat((df_teams_1, df_teams_2))
df_teams.drop_duplicates()
df_teams.insert(1, 'first_position', df_teams['First Team'].map(icc_ranking.set_index('Team')['Pos']))
df_teams.insert(2, 'second_position', df_teams['Second Team'].map(icc_ranking.set_index('Team')['Pos']))
fixture.insert(1, 'first_position', fixture['First Team'].map(icc_ranking.set_index('Team')['Pos']))
fixture.insert(2, 'second_position', fixture['Second Team'].map(icc_ranking.set_index('Team')['Pos']))
df_teams=df_teams[['First Team', 'Second Team','Winner','first_position', 'second_position']]
fixture=fixture[['First Team', 'Second Team','Winner','first_position', 'second_position']]
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()

df_teams=df_teams.append(fixture)
#df_teams['First Team Code'] = ord_enc.fit_transform(df_teams[['First Team']])
#df_teams['Second Team Code'] = ord_enc.fit_transform(df_teams[['Second Team']])
final = pd.get_dummies(df_teams, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])

#final=df_teams

final1=fixture

# Separate X and y sets
#X = final.drop(['First Team','Second Team','Winner'], axis=1)
#y = final["Winner"]
X = final.drop(['Winner'], axis=1)
y = final["Winner"]
#final1 = pd.get_dummies(fixture, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])
#X_test = final1.drop(['First Team','Second Team'], axis=1)
final = final.dropna()
final1=final1.dropna()
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)
X_train = X.iloc[:174]
X_test = X.iloc[-13:]
y_train = y.iloc[:174]
y_test = y.iloc[-13:]

rf1 = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=50)
rf1.fit(X_train, y_train) 


score = rf1.score(X_train, y_train)
#score2 = rf1.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
#print("Test set accuracy: ", '%.3f'%(score2))
pred=rf1.predict(X_test)
pred

Training set accuracy:  0.770

array(['Zimbabwe', 'Afghanistan', 'Netherlands', 'Ireland', 'Australia',
       'Zimbabwe', 'Hong Kong', 'Netherlands', 'Ireland', 'Afghanistan',
       'Scotland', 'Ireland', 'Ireland'], dtype=object)

In [105]:
fixture['pred_winner']=pred
fixture

,First Team,Second Team,Winner,first_position,second_position,pred_winner
0,Hong Kong,Zimbabwe,Zimbabwe,23,11,Zimbabwe
1,Afghanistan,Scotland,Afghanistan,8,14,Afghanistan
2,Bangladesh,Netherlands,Bangladesh,6,17,Netherlands
3,Ireland,Oman,Oman,12,18,Ireland
4,South Africa,Australia,Australia,5,7,Australia
5,Scotland,Zimbabwe,Zimbabwe,14,11,Zimbabwe
6,Afghanistan,Hong Kong,Afghanistan,8,23,Hong Kong
7,Netherlands,Oman,NaN,17,18,Netherlands
8,Bangladesh,Ireland,NaN,6,12,Ireland
9,Afghanistan,Zimbabwe,Afghanistan,8,11,Afghanistan
10,Hong Kong,Scotland,Scotland,23,14,Scotland
11,Ireland,Netherlands,Netherlands,12,17,Ireland
12,Bangladesh,Oman,Bangladesh,6,18,Ireland

In [80]:
fixture.insert(1, 'first_position', fixture['First Team'].map(icc_ranking.set_index('Team')['Pos']))
fixture.insert(2, 'second_position', fixture['Second Team'].map(icc_ranking.set_index('Team')['Pos']))

In [81]:
fixture

,Match No,first_position,second_position,Date,First Team,Second Team
0,1,18,15,2021-10-17,Oman,Papua New Guinea
1,2,6,14,2021-10-17,Bangladesh,Scotland
2,3,12,17,2021-10-18,Ireland,Netherlands
3,4,10,19,2021-10-18,Sri Lanka,Namibia
4,5,14,15,2021-10-19,Scotland,Papua New Guinea
5,6,18,6,2021-10-19,Oman,Bangladesh
6,7,19,17,2021-10-20,Namibia,Netherlands
7,8,10,12,2021-10-20,Sri Lanka,Ireland
8,9,6,15,2021-10-21,Bangladesh,Papua New Guinea
9,10,18,14,2021-10-21,Oman,Scotland
10,11,19,12,2021-10-22,Namibia,Ireland
11,12,10,17,2021-10-22,Sri Lanka,Netherlands

In [82]:
fixture = fixture.drop(['Date','Match No'],axis=1)
fixture

    first_position  second_position  First Team       Second Team
0               18               15        Oman  Papua New Guinea
1                6               14  Bangladesh          Scotland
2               12               17     Ireland       Netherlands
3               10               19   Sri Lanka           Namibia
4               14               15    Scotland  Papua New Guinea
5               18                6        Oman        Bangladesh
6               19               17     Namibia       Netherlands
7               10               12   Sri Lanka           Ireland
8                6               15  Bangladesh  Papua New Guinea
9               18               14        Oman          Scotland
10              19               12     Namibia           Ireland
11              10               17   Sri Lanka       Netherlands

In [31]:

df_teams=df_teams.dropna()
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OrdinalEncoder
ord_enc=OrdinalEncoder()
df_teams=df_teams.append(fixture)
#df_teams['First Team Code'] = ord_enc.fit_transform(df_teams[['First Team']])
#df_teams['Second Team Code'] = ord_enc.fit_transform(df_teams[['Second Team']])
final = pd.get_dummies(df_teams, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])

#final=df_teams

final1=fixture

In [32]:
# Separate X and y sets
#X = final.drop(['First Team','Second Team','Winner'], axis=1)
#y = final["Winner"]
X = final.drop(['Winner'], axis=1)
y = final["Winner"]
#final1 = pd.get_dummies(fixture, prefix=['First Team', 'Second Team'], columns=['First Team', 'Second Team'])
#X_test = final1.drop(['First Team','Second Team'], axis=1)


#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [34]:
X_train = X.iloc[:189]
X_test = X.iloc[-13:]

In [35]:
y_train = y.iloc[:189]
y_test = y.iloc[-13:]

In [41]:
rf = RandomForestClassifier(n_estimators=100, max_depth=20,
                              random_state=42)
rf.fit(X_train, y_train) 


score = rf.score(X_train, y_train)
#score2 = rf.score(X_test, y_test)


print("Training set accuracy: ", '%.3f'%(score))
#print("Test set accuracy: ", '%.3f'%(score2))

Training set accuracy:  0.778

In [43]:
pred=rf.predict(X_test)

In [44]:
pred

array(['Zimbabwe', 'Afghanistan', 'Bangladesh', 'Ireland', 'Australia',
       'Zimbabwe', 'Afghanistan', 'Netherlands', 'Ireland', 'Afghanistan',
       'Scotland', 'Netherlands', 'Bangladesh'], dtype=object)

In [45]:
y_test

0        Zimbabwe
1     Afghanistan
2      Bangladesh
3            Oman
4       Australia
5        Zimbabwe
6     Afghanistan
7             NaN
8             NaN
9     Afghanistan
10       Scotland
11    Netherlands
12     Bangladesh
Name: Winner, dtype: object

In [99]:
fixture['Winner']=pred
fixture

    first_position  second_position  First Team       Second Team       Winner
0               18               15        Oman  Papua New Guinea     Scotland
1                6               14  Bangladesh          Scotland     Scotland
2               12               17     Ireland       Netherlands  Netherlands
3               10               19   Sri Lanka           Namibia   Bangladesh
4               14               15    Scotland  Papua New Guinea  Netherlands
5               18                6        Oman        Bangladesh   Bangladesh
6               19               17     Namibia       Netherlands  Netherlands
7               10               12   Sri Lanka           Ireland      Ireland
8                6               15  Bangladesh  Papua New Guinea   Bangladesh
9               18               14        Oman          Scotland     Scotland
10              19               12     Namibia           Ireland      Namibia
11              10               17   Sri Lanka       Netherlands   Bangladesh